#nav{
    padding: 10px;
    margin: 0;
 }
 #con{
    width: 1440px;
 }
 #h{
    font-size: 55px;
 }
 #f{
    padding: 10px;
 }
 #f1{
    padding: 10px;
 }
 #f2{
    padding: 10px;
 }
 #f3{
    padding: 10px;
 }